  
.albums-list {

  .album {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .folder {
      width: 25px;
    }
    
    .name {
      font-size: 12px;
      }
  }
}

