.search-bar {
  border: 1px solid lightgray;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1024px;
  width: 75vw;
  
  input {
    border-radius: 20px;
    padding: 5px;
    margin: 20px;
  }
  
  select,
  button {
    color: white;
    border: 1px solid lightsalmon;
    background-color: lightcoral;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 20px;
    font-weight: bold;
  }
}